body {
    background: darkcyan;
    text-align: center;
    color: floralwhite;
}

.next {
    float: right;

}

.form {
    text-align: left;
}

.form h2 {
    color: red;
}



.hidden {
    display: none;
}

input {
    display: inline-block;
}

.login {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
}

.input-group {
    display: block;
    overflow: hidden;
    color: black;
}

.input-group input {
    width: 40%;
}

.input-group label {
    text-align: left;
    width: 25%;
    color: #fff;
}

.input-group input[type="submit"] {
    width: 10%;
    float: left;
}
